body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
.orange-color{
    color:orange ;
}
.half-width img{
    width: 70%;
}
.flexible-container{
    display: flex;padding-left: 30px;
    margin-bottom: 100px;
}
.floatRight{
    float:right;margin-left:20px
    float:right;margin-right:150px
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: papayawhip;
    font-weight: 700;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
}

}
.experience-item{
    width: 40%;
    margin-left: 5%px;
    margin-right: 1px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px goldenrod;
}

}

